.shortcode-list-item .dashicons-bbpress-logo:before {
  content: "\f477"; }

/**
 * Our columns icon
 */
.mce-ico.mce-i-wp_tagcloud {
  font-size: 20px; }

.mce-i-wp_tagcloud:before {
  font-family: "dashicons";
  content: "\f479"; }

/**
 * Change column modal window
 */
#pbsandwich_column_change_modal {
  width: 425px; }

#pbsandwich_column_change_modal .mce-btn {
  display: inline-block;
  width: 200px;
  margin: 0 5px 5px;
  float: left; }

#pbsandwich_column_change_modal .mce-btn button {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 4px 10px; }

.mce-container #pbsandwich_column_change_modal h4 {
  font-weight: bold;
  font-size: 1.1em; }

.mce-container #pbsandwich_column_change_modal hr {
  clear: both;
  width: 100%;
  height: 1px;
  background: #eee;
  margin: 20px 0; }

.mce-container #pbsandwich_column_change_modal p.desc {
  margin-bottom: .5em;
  clear: both;
  line-height: 1.6em; }

.mce-container #pbsandwich_column_change_modal input {
  display: block;
  width: 200px;
  float: left;
  margin: 1px 5px 0;
  box-sizing: border-box; }

/**
 * Modal windows
 */
.sandwich_modal h4 {
  margin-bottom: 20px;
  font-weight: bold; }
.sandwich_modal label {
  display: block;
  margin-bottom: 1.5em;
  vertical-align: middle; }
  .sandwich_modal label input[type=text], .sandwich_modal label input[type=checkbox], .sandwich_modal label input[type=color], .sandwich_modal label input[type=date], .sandwich_modal label input[type=datetime-local], .sandwich_modal label input[type=datetime], .sandwich_modal label input[type=email], .sandwich_modal label input[type=month], .sandwich_modal label input[type=number], .sandwich_modal label input[type=password], .sandwich_modal label input[type=radio], .sandwich_modal label input[type=search], .sandwich_modal label input[type=tel], .sandwich_modal label input[type=text], .sandwich_modal label input[type=time], .sandwich_modal label input[type=url], .sandwich_modal label input[type=week], .sandwich_modal label select, .sandwich_modal label textarea {
    border: 1px solid #ddd;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.07);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.07);
    background-color: #fff;
    color: #333;
    outline: 0;
    -webkit-transition: .05s border-color ease-in-out;
    transition: .05s border-color ease-in-out;
    line-height: 1em;
    margin-right: 5px; }
  .sandwich_modal label input[type=text] {
    padding: 3px 5px; }
  .sandwich_modal label > * {
    margin-left: 10px; }
.sandwich_modal select {
  padding: 2px;
  line-height: 28px;
  height: 28px;
  vertical-align: middle; }
.sandwich_modal .style_area input {
  font-size: .8em;
  text-align: center;
  width: 36px;
  padding: 4px; }
.sandwich_modal #padding_top, .sandwich_modal #padding_bottom, .sandwich_modal #border_top, .sandwich_modal #border_bottom, .sandwich_modal #margin_top, .sandwich_modal #margin_bottom {
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%); }
.sandwich_modal #padding_left, .sandwich_modal #padding_right, .sandwich_modal #border_left, .sandwich_modal #border_right, .sandwich_modal #margin_left, .sandwich_modal #margin_right {
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%); }
.sandwich_modal .padding_area {
  position: relative;
  width: 52px;
  height: 29px;
  display: block;
  box-sizing: content-box;
  border: 54px solid #F2F1EF;
  border-top-width: 38px;
  border-bottom-width: 38px;
  background: #EEEEEE;
  box-shadow: 0 0 0 1px #D2D7D3, inset 0 0 0 1px #D2D7D3; }
  .sandwich_modal .padding_area:before {
    position: absolute;
    top: -33px;
    left: -48px;
    font-size: 10px; }
  .sandwich_modal .padding_area #padding_top {
    position: absolute;
    top: -31px;
    left: 50%; }
  .sandwich_modal .padding_area #padding_right {
    position: absolute;
    top: 50%;
    right: -50px; }
  .sandwich_modal .padding_area #padding_bottom {
    position: absolute;
    bottom: -31px;
    left: 50%; }
  .sandwich_modal .padding_area #padding_left {
    position: absolute;
    top: 50%;
    padding: 4px;
    left: -50px; }
.sandwich_modal .border_area, .sandwich_modal .margin_area {
  position: relative;
  padding: 38px 54px;
  background: #f2f1ef;
  box-shadow: inset 0 0 0 1px #D2D7D3; }
  .sandwich_modal .border_area:before, .sandwich_modal .margin_area:before {
    position: absolute;
    top: 5px;
    left: 5px;
    font-size: 10px; }
  .sandwich_modal .border_area #border_top, .sandwich_modal .border_area #margin_top, .sandwich_modal .margin_area #border_top, .sandwich_modal .margin_area #margin_top {
    position: absolute;
    top: 7px;
    left: 50%; }
  .sandwich_modal .border_area #border_right, .sandwich_modal .border_area #margin_right, .sandwich_modal .margin_area #border_right, .sandwich_modal .margin_area #margin_right {
    position: absolute;
    top: 50%;
    right: 4px; }
  .sandwich_modal .border_area #border_bottom, .sandwich_modal .border_area #margin_bottom, .sandwich_modal .margin_area #border_bottom, .sandwich_modal .margin_area #margin_bottom {
    position: absolute;
    bottom: 7px;
    left: 50%; }
  .sandwich_modal .border_area #border_left, .sandwich_modal .border_area #margin_left, .sandwich_modal .margin_area #border_left, .sandwich_modal .margin_area #margin_left {
    position: absolute;
    top: 50%;
    left: 4px; }
.sandwich_modal label[for="background_image"] {
  cursor: pointer; }
.sandwich_modal .remove_image {
  background: #eee;
  width: 20px;
  text-align: center;
  line-height: 20px;
  height: 20px;
  margin: 0;
  cursor: pointer;
  display: inline-block;
  border-left: 1px solid #ccc;
  border-radius: 2px;
  border: 1px solid #ccc;
  background: #f7f7f7;
  -webkit-box-shadow: inset 0 1px 0 #fff;
  box-shadow: inset 0 1px 0 #fff; }
  .sandwich_modal .remove_image:before {
    font-size: 12px;
    margin-left: -1px; }
.sandwich_modal .image_preview[src=""] {
  display: none; }
.sandwich_modal .image_preview[src=""] + .remove_image {
  margin-left: 10px; }
.sandwich_modal .image_preview[src=""] + .remove_image:before {
  content: "\f132"; }
.sandwich_modal .dashicons:before {
  font-family: "dashicons"; }
.sandwich_modal .image_preview {
  max-width: 150px;
  max-height: 150px; }
.sandwich_modal .iris-picker {
  z-index: 9;
  background: #fff;
  position: relative !important; }

.mce-container-body {
  overflow: auto; }

/**
 * Edit column modal window
 */
#pbsandwich_column_area_edit {
  max-height: 400px;
  overflow: scroll; }

.wp-media-buttons .sandwich-add-shortcode span.wp-media-buttons-icon:nth-of-type(1) {
  overflow: hidden;
  width: 6px; }

.wp-media-buttons .sandwich-add-shortcode span.wp-media-buttons-icon:nth-of-type(2) {
  overflow: hidden;
  width: 6px;
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1); }

.mce-container .wp-picker-container .wp-color-result {
  border: 1px solid #ccc;
  padding-left: 30px;
  margin: 0 6px 6px 0; }

.mce-container .mce-widget.mce-btn.sep {
  display: inline-block;
  width: 1px;
  height: 16px;
  margin: 5px;
  padding: 2px 0;
  vertical-align: top;
  background: #ccc;
  border: 0;
  pointer-events: none; }

.mce-container .mce-widget.mce-btn.toolbar-label {
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
  vertical-align: middle;
  opacity: .8;
  padding: 2px 5px;
  display: inline-block;
  line-height: 20px;
  margin: 2px;
  pointer-events: none; }

/**
 * Jetpack Contact Form
 */
[data-shortcode="contact-field"] {
  display: none; }

/**
 * Jetpack Google Maps
 */
[data-shortcode="googlemaps"] {
  display: none; }

.shortcode-list-item .dashicons-wordpress.jetpack-logo:before {
  font-family: 'jetpack';
  content: '\f102'; }
