/**
 * Clear the columns
 */
.scless_column {
	clear: both;
}

/**
 * Clear column floats
 */
.scless_column:after {
	content: '';
	clear: both;
	display: block;
}

/**
 * Responsive columns, shrink to a single column
 */
@media (max-width: 768px) {
	.scless_column > div {
		margin-right: 0 !important;
		float: none !important;
		width: auto !important;
	}
}