/**
 * Editor only div-like styling
 */
body#tinymce.wp-editor .scless_column td {
	vertical-align: top;
	padding: 0;
}

/**
 * Aesthetic margins
 */
body#tinymce.wp-editor .scless_column {
	margin: 1em 0;
}

/**
 * Don't show drag handlers for our tables
 */
body#tinymce.wp-editor .scless_column[data-mce-selected="1"] ~ .mce-resizehandle,
body#tinymce.wp-editor.scless_column_selected .mce-resizehandle {
	display: none !important;
}

/**
 * Drag placeholder
 */
body#tinymce.wp-editor .sortable-placeholder {
	display: block;
	height: 50px;
	width: auto;
	background: #f1f1f1;
	border-radius: 5px;
}