/**
 * Editor only div-like styling
 */
body#tinymce.wp-editor .scless_column td {
	vertical-align: top;
	padding: 0;
}

/**
 * Aesthetic margins
 */
body#tinymce.wp-editor .scless_column {
	margin: 1em 0;
}

/**
 * Don't show drag handlers for our tables
 */
body#tinymce.wp-editor .scless_column[data-mce-selected="1"] ~ .mce-resizehandle,
body#tinymce.wp-editor.scless_column_selected .mce-resizehandle {
	display: none !important;
}

/**
 * Drag placeholder
 */
body#tinymce.wp-editor .sortable-placeholder {
	display: block;
	height: 50px;
	width: auto;
	background: #f1f1f1;
	border-radius: 5px;
}

/**
 * Move cursor for our columns
 */
body#tinymce.wp-editor .scless_column td:hover,
body#tinymce.wp-editor .scless_column td td:hover {
	cursor: move;
}
body#tinymce.wp-editor .scless_column td *:not(.wpview-wrap) {
	cursor: text;
}

/**
 * Move cursor and hover color for shortcake & views
 */
body#tinymce.wp-editor .wpview-wrap:hover {
	background: #f1f1f1;
}
body#tinymce.wp-editor .wpview-wrap, body#tinymce.wp-editor .wpview-wrap * {
	cursor: move !important;
}


/**
 * Toolbar styles, most of these are from the default WordPress styles
 */
body#tinymce.wp-editor #wp-column-toolbar {
	position: absolute;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	-o-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}
body#tinymce.wp-editor #wp-column-toolbar .dashicons {
	margin: 2px;
	padding: 2px 3px;
	width: 20px;
	height: 20px;
	color: #777;
	cursor: pointer;
	font-size: 20px;
	border: 1px solid transparent;
	border-radius: 2px;
}
body#tinymce.wp-editor #wp-column-toolbar .dashicons:hover {
	background-color: #fafafa;
	border-color: #999;
	color: #222;
	-webkit-box-shadow: inset 0 1px 0 #fff, 0 1px 0 rgba( 0, 0, 0, 0.08 );
	box-shadow: inset 0 1px 0 #fff, 0 1px 0 rgba( 0, 0, 0, 0.08 );
	outline: none;
}
body#tinymce.wp-editor #wp-column-toolbar {
	z-index: 100;
	background-color: #f5f5f5;
	border: 1px solid #aaa;
	padding: 1px;
	cursor: default;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: 0 1px 4px rgba( 0, 0, 0, 0.2 );
	box-shadow: 0 1px 4px rgba( 0, 0, 0, 0.2 );
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-bottom: 8px;
}