.wp-media-buttons .sandwich-add-shortcode span.wp-media-buttons-icon:nth-of-type(1) {
	overflow: hidden;
	width: 6px;
}
.wp-media-buttons .sandwich-add-shortcode span.wp-media-buttons-icon:nth-of-type(2) {
	overflow: hidden;
	width: 6px;
	-webkit-transform: scaleX(-1);
	-moz-transform: scaleX(-1);
	-ms-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	transform: scaleX(-1);
}
// The color option styles get overridden by Titan Framework
.mce-container .wp-picker-container .wp-color-result {
	border: 1px solid #ccc;
	padding-left: 30px;
	margin: 0 6px 6px 0;
}

.mce-container {
	.pbsandwich_modal_tabs {
	    border-bottom: 1px solid #ddd;
	    position: relative;
	    margin-bottom: 20px;
	}
	.pbsandwich_modal_tab {
	    display: inline-block;
	    padding: .5em 1em;
	    border: 1px solid #ddd;
	    cursor: pointer;
	    border-bottom: 1px solid #ddd;
	    position: relative;
	    margin-bottom: -1px;
	    background: #eee;
		&.active {
		    border-bottom: 1px solid #fff;
			background: transparent;
		}
	}
}

body .mce-window > div > .mce-container-body.mce-abs-layout {
	overflow-y: scroll;
	overflow-x: hidden;
	.mce-container-body {
		overflow: hidden;
	}
}
@media screen and (max-width: 900px) {
	body .mce-window > div > .mce-container-body.mce-abs-layout {
		overflow-y: scroll;
		overflow-x: scroll;
	}
}