/**
 * Jetpack Contact Form
 */
[data-shortcode="contact-field"] {
	display: none;
}

/**
 * Jetpack Google Maps
 */
[data-shortcode="googlemaps"] {
	display: none;
}

.shortcode-list-item .dashicons-wordpress.jetpack-logo:before {
	font-family: 'jetpack' !important;
	content: '\f102';
}