body#tinymce.wp-editor {
	/**
	 * Editor only div-like styling
	 */
	.pbsandwich_column td {
		vertical-align: top;
		padding: 0 10px;
		border: none;
		border-color: transparent;
		box-shadow: 0 0 0 1px rgba(0,0,0,.15);
	}


	/**
	 * Default styles
	 */
	.pbsandwich_column {
		margin: 0 0 20px;
	}


	/**
	 * Don't show drag handlers for our tables
	 */
	.pbsandwich_column[data-mce-selected="1"] ~ .mce-resizehandle,
	&.pbsandwich_column_selected .mce-resizehandle {
		display: none !important;
	}


	/**
	 * Move cursor for our columns
	 */
	.pbsandwich_column td:hover,
	.pbsandwich_column td td:hover {
		cursor: move;
	}
	.pbsandwich_column td *:not(.wpview-wrap) {
		cursor: text;
	}


	/**
	 * Toolbar separator
	 */
	#wp-column-toolbar .sep {
	    display: inline-block;
	    width: 1px;
	    height: 16px;
	    margin: 5px;
	    padding: 2px 0;
	    vertical-align: top;
	    background: #ccc;
	}
}