.wpview-wrap.pbs-alignleft, .wpview-wrap.pbs-alignleft .wpview-body, .wpview-wrap.pbs-alignleft .wpview-overlay {
	width: auto;
	display: inline-block;
	float: left;
}

.wpview-wrap.pbs-alignright, .wpview-wrap.pbs-alignright .wpview-body, .wpview-wrap.pbs-alignright .wpview-overlay {
	width: auto;
	display: inline-block;
	float: right;
}