/**
 * Editor only div-like styling
 */
body#tinymce.wp-editor .pbsandwich_column td {
	vertical-align: top;
	padding: 0 10px;
}


/**
 * Aesthetic margins
 */
body#tinymce.wp-editor .pbsandwich_column {
	margin: 1em 0;
}


/**
 * Don't show drag handlers for our tables
 */
body#tinymce.wp-editor .pbsandwich_column[data-mce-selected="1"] ~ .mce-resizehandle,
body#tinymce.wp-editor.pbsandwich_column_selected .mce-resizehandle {
	display: none !important;
}


/**
 * Move cursor for our columns
 */
body#tinymce.wp-editor .pbsandwich_column td:hover,
body#tinymce.wp-editor .pbsandwich_column td td:hover {
	cursor: move;
}
body#tinymce.wp-editor .pbsandwich_column td *:not(.wpview-wrap) {
	cursor: text;
}