/**
 * Button shortcode
 */
.sandwich.pbs_button {
	margin-bottom: 20px;
	&, a, a:link, a:visited {
		&, &:hover {
			text-decoration: none;
		}
	}
	text-align: center;
	&.pbs_button_align_left {
		text-align: left;
	}
	&.pbs_button_align_right {
		text-align: right;
	}
}