/**
 * Fix box-sizing widths
 */
.pbsandwich_column,
.pbsandwich_column > div,
.pbsandwich_column > div > div {
	box-sizing: border-box;
}

/**
 * Float the columns
 */
.pbsandwich_column > div > div {
	float: left;
}

/**
 * Clear the columns
 */
.pbsandwich_column {
	clear: both;
}

/**
 * Clear column floats
 */
.pbsandwich_column:after {
	content: '';
	clear: both;
	display: block;
}

/**
 * Default margin
 */
.pbsandwich_column {
	margin-bottom: 20px;
}

/**
 * Responsive columns, shrink to a single column
 */
@media (max-width: 768px) {
	.pbsandwich_column > div > div {
		margin-right: 0 !important;
		float: none !important;
		width: auto !important;
	}
}

/**
 * Column alignment
 */
.pbsandwich_column {
	&.pbs-align-left, &.pbs-align-right, &.pbs-align-center {
		> .row > div {
			width: auto;
		}
	}
	&.pbs-align-right .row {
		float: right;
	}
	&.pbs-align-center > .row {
	    display: inline-block;
	    left: 50%;
	    position: relative;
	    -webkit-transform: translateX(-50%);
	    -moz-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	    -o-transform: translateX(-50%);
	    transform: translateX(-50%);
		&:before, &:after {
			content: '';
			display: none;
		}
	}
}