.wpview-type-pbs_button, .wpview-type-pbs_button > .sandwich, .pbs_button_element {
	width: auto;
	display: inline-block;
}

.pbs-colalignleft {
	float: left;
	text-align: left;
	width: initial;
}

.pbs-colaligncenter {
	text-align: center;
	width: 100%;
}

.pbs-colalignright {
	float: right;
	text-align: right;
	width: initial;
}

.pbs-alignleft {
	float: left;
	width: initial;
	display: inline-block;
	clear: none;
}

.pbs-aligncenter {
	float: initial;
	width: initial;	
	display: block;
}

.pbs-alignright {
	float: right;
	width: initial;
	display: inline-block;
	clear: none;
}