/**
 * Some of our shortcodes use bootstrap, use them also in the editor to get a nice display
 */
body#tinymce.wp-editor .sandwich {

	// Core variables and mixins
	@import "bootstrap/variables";
	@import "bootstrap/mixins";

	// Used by buttons shortcode
	@import "bootstrap/buttons";
	
	// Used by toggle shortcode
	@import "bootstrap/panels";
	
	// Used by progressbar shortcode
	@import "bootstrap/progress-bars";
	
}

@import "editor-columns";
@import "editor-html5video";
@import "editor-jetpack";
@import "editor-mailchimp";
@import "editor-sandwich";
@import "editor-toggle";
@import "editor-widget";
@import "editor-events-manager";
@import "editor-alignment";
@import "frontend-alignment";