/**
 * Some of our shortcodes use bootstrap, use them also in the editor to get a nice display
 */
body#tinymce.wp-editor .sandwich {

	// Core variables and mixins
	@import "bootstrap/variables";
	@import "bootstrap/mixins";
	
	// Used by toggle shortcode
	@import "bootstrap/panels";
	
	// Used by progressbar shortcode
	@import "bootstrap/progress-bars";
	
}

@import "_editor-*";