/**
 * Some shortcodes use bootstrap, include only the bootstrap stuff that we use
 */
.sandwich {
	// Core variables and mixins
	@import "bootstrap/variables";
	@import "bootstrap/mixins";

	// Used by buttons shortcode
	@import "bootstrap/buttons";
	
	// Used by columns
	@import "bootstrap/grid";
	
	// Used by toggle shortcode
	@import "bootstrap/component-animations";
	
	// Used by toggle shortcode
	@import "bootstrap/panels";
	
	// Used by progressbar shortcode
	@import "bootstrap/progress-bars";
}

/**
 * These are our own css
 */
@import "frontend-button";
@import "frontend-columns";
@import "frontend-html5video";
@import "frontend-jetpack";
@import "frontend-toggle";
@import "frontend-widget";